body{
    font-family: Arial;
}
#main-heading{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}

#todo-input, #todo-date{
    font-size: 15px;
    padding: 10px 5px;
}

.btn-delete{
    background-color: rgb(97, 37, 37);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 0px;
    cursor: pointer;
}

.btn-todo{
        background-color: rgb(37, 77, 42);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 0px;
    cursor: pointer;
}